.tableTrn{
    width: 100%;
    padding: 5px;
}

.tableHeader{
    background-color: #39ace7;
    color: white;
    font-weight: bold;
}

.sortInp{
    background-color: #39ace7;
    cursor: pointer;
    border: none;
    color: white;
    padding: 0;
    margin: 0;
}

.sortTd{
    display: flex;
    justify-content: space-around
}